body{
  background-color: Bisque;
}

h1{
  text-transform: uppercase;
  font-size: calc(1.725rem + 5.7vw);
  font-family: Impact;
}

h2, p, ul, li{
  color: DarkSlateGray;
  font-family: sans-serif
}

div{
  width: 80%;
  background-color: LightCoral;
}

a{
  color:DarkSlateGray;
}

a:hover{
  color:Bisque;
}

a:acive{
  color:Bisque;
}

a:visited{
  color:Bisque;
}
