body{
  background-color: Bisque;
}

h1{
  text-transform: uppercase;
  font-size: calc(1.725rem + 5.7vw);
}

h2, p, ul, li{
  color: DarkSlateGray;
}

div{
  width: 80%;
  background-color: LightCoral;
}
